[submodule "xv6-rv32"]
	path = xv6-rv32
	url = https://github.com/michaelengel/xv6-rv32.git
[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
